<div class="dashboard-container">
  <h1>Panel Salud Fisica</h1>
  <br />
  <section class="stats-overview" *ngIf="!hasPhysicalData() && !loading">
    <div class="stat-card">
      <div class="stat-icon">🤔</div>
      <div class="stat-info-QA">
        <h3>Ayudanos a ayudarte</h3>
        <p>Responde la siguiente encuesta</p>
        <br />
        <button class="action-btn" (click)="abrirModalEdicion()">
          Responder.
        </button>
      </div>
    </div>
  </section>

  @if (mostrarModalEdicion) {
  <app-modal (cerrar)="cerrarModalEdicion()"></app-modal>
  }

  

</div>
